workflow_airtable_publication.json
{
  "name": "Publication Automatique - Airtable",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "schedule-trigger"
    },
    {
      "parameters": {
        "operation": "list",
        "application": "={{ $credentials.baseId }}",
        "table": "Posts",
        "options": {
          "filterByFormula": "AND({Statut} = 'Validé', IS_SAME({Date Publication}, TODAY(), 'day'))",
          "returnAll": true
        }
      },
      "name": "Airtable - Lire Posts du Jour",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "airtable-read",
      "credentials": {
        "airtableApi": {
          "id": "1",
          "name": "Airtable - Calendrier Editorial"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "IF - Posts à publier ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300],
      "id": "if-node"
    },
    {
      "parameters": {
        "text": "={{ $json.fields['Brouillon LinkedIn'] }}",
        "additionalFields": {}
      },
      "name": "LinkedIn - Publier Post",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [850, 200],
      "id": "linkedin-post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "2",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.fields['Brouillon Twitter'] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Twitter - Publier Tweet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 400],
      "id": "twitter-post",
      "credentials": {
        "twitterOAuth1Api": {
          "id": "3",
          "name": "Twitter account"
        }
      },
      "notes": "Optionnel - Nécessite API Twitter payante",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "application": "={{ $credentials.baseId }}",
        "table": "Posts",
        "id": "={{ $json.id }}",
        "options": {},
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Statut",
              "fieldValue": "Publié"
            },
            {
              "fieldId": "Date Publiée",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "URL LinkedIn",
              "fieldValue": "={{ $node['LinkedIn - Publier Post'].json.url || 'N/A' }}"
            },
            {
              "fieldId": "URL Twitter",
              "fieldValue": "={{ $node['Twitter - Publier Tweet'].json.data?.id || 'N/A' }}"
            }
          ]
        }
      },
      "name": "Airtable - Update Statut",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1050, 300],
      "id": "airtable-update",
      "credentials": {
        "airtableApi": {
          "id": "1",
          "name": "Airtable - Calendrier Editorial"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@votre-domaine.com",
        "toEmail": "votre-email@example.com",
        "subject": "✅ Posts publiés - {{ $now.format('dd/MM/yyyy') }}",
        "text": "Bonjour,\n\n{{ $json.count || 1 }} post(s) ont été publiés avec succès aujourd'hui.\n\nDétails :\n- Type : {{ $json.fields.Type }}\n- Sujet : {{ $json.fields['Sujet/Outil'] || $json.fields.Titre }}\n- LinkedIn : {{ $node['LinkedIn - Publier Post'].json.url }}\n\nVoir dans Airtable : https://airtable.com/{{ $credentials.baseId }}/{{ $json.id }}\n\nBonne journée !",
        "options": {}
      },
      "name": "Send Email - Confirmation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 300],
      "id": "send-email",
      "credentials": {
        "smtp": {
          "id": "4",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@votre-domaine.com",
        "toEmail": "votre-email@example.com",
        "subject": "ℹ️ Aucun post à publier aujourd'hui",
        "text": "Bonjour,\n\nAucun post n'était prévu pour aujourd'hui ({{ $now.format('dd/MM/yyyy') }}).\n\nVérifiez votre calendrier Airtable si nécessaire.\n\nBonne journée !",
        "options": {}
      },
      "name": "Send Email - Aucun Post",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 500],
      "id": "send-email-no-post",
      "credentials": {
        "smtp": {
          "id": "4",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Airtable - Lire Posts du Jour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Lire Posts du Jour": {
      "main": [
        [
          {
            "node": "IF - Posts à publier ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Posts à publier ?": {
      "main": [
        [
          {
            "node": "LinkedIn - Publier Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter - Publier Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email - Aucun Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn - Publier Post": {
      "main": [
        [
          {
            "node": "Airtable - Update Statut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter - Publier Tweet": {
      "main": [
        [
          {
            "node": "Airtable - Update Statut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Update Statut": {
      "main": [
        [
          {
            "node": "Send Email - Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Airtable",
      "createdAt": "2025-10-06T10:00:00.000Z",
      "updatedAt": "2025-10-06T10:00:00.000Z",
      "id": "1"
    },
    {
      "name": "Publication",
      "createdAt": "2025-10-06T10:00:00.000Z",
      "updatedAt": "2025-10-06T10:00:00.000Z",
      "id": "2"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-06T10:00:00.000Z",
  "versionId": "1"
}
